{% extends 'base.html' %}

{% block title %}Home{% endblock %}
<style>
    label {display:inline-block;}
</style>
{% block main %}

<br> <br>
<div class="container-fluid content">
    <div class="row">
        <div class="col" id="banner">
            <div class="col-sm-6 col-lg-6 col" id="rental"> <br>
                <div class="row"> <br>
                    <div class="col-sm-12 col-lg-12 col"> <br> <br>
                        <div class="panel"> <br>
                            <div class="panel-heading"><center><b style="color:black;">Rentals</b></center></div>
                            <p><center>Rent a car and pay for days or hours</center></p>
                            <form>
								
							   <div class="territory_div" id="territory_div">Territory:
								<select name="territory" class="required-entry" id="territory" onclick="location1()">
									<option value="" selected="selected">Select Territory</option>
									<option value="Alberta">Alberta</option>
									<option value="British Columbia">British Columbia</option>
									<option value="Manitoba">Manitoba</option>
									<option value="New Brunswick">New Brunswick</option>
									<option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
									<option value="Northwest Territories">Northwest Territories</option>
									<option value="Nova Scotia">Nova Scotia</option>
									<option value="Nunavut">Nunavut</option>
									<option value="Ontario">Ontario</option>
									<option value="Prince Edward Island">Prince Edward Island</option>
									<option value="Quebec">Quebec</option>
									<option value="Yukon">Yukon</option>
									<option value="Saskatchewan">Saskatchewan</option>
								</select>
							</div>
							<div class="city_div" id="city_div">City:
								<select name="city" id="city" >
									<option value="">Select City</option>
								</select>
								<script >
									console.log("Here1");
									function location1()
									{
										console.log("Here2");
										var list1 = document.getElementById("territory");
										var list2 = document.getElementById("city");
										var SelValue = list1.options[list1.selectedIndex].value;
										
											if (SelValue=='Alberta')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Airdrie","Airdrie");
												list2.options[2]=new Option("Beaumont","Beaumont");
												list2.options[3]=new Option("Brooks","Brooks");
												list2.options[4]=new Option("Calgary","Calgary");
												list2.options[5]=new Option("Camrose","Camrose");
											}

											else if (SelValue=='British Columbia')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Armstrong","Armstrong");
												list2.options[2]=new Option("Burnaby","Burnaby");
												list2.options[3]=new Option("Colwood","Colwood");
												list2.options[4]=new Option("Delta","Delta");
												list2.options[5]=new Option("Fernie","Fernie");
											}
											else if (SelValue=='Manitoba')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Winnipeg","Winnipeg");
												list2.options[2]=new Option("Brandon","Brandon");
												list2.options[3]=new Option("Duaphin","Duaphin");
												list2.options[4]=new Option("Morden","Morden");
												list2.options[5]=new Option("Winkler","Winkler");
											}
											else if (SelValue=='New Brunswick')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Bathurst","Bathurst");
												list2.options[2]=new Option("Campbellton","Campbellton");
												list2.options[3]=new Option("Dieppe","Dieppe");
												list2.options[4]=new Option("Miramichi","Miramichi");
												list2.options[5]=new Option("Moncton","Moncton");
											}
											else if (SelValue=='Newfoundland and Labrador')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Corner Brook","Corner Brook");
												list2.options[2]=new Option("Mount Pearl","Mount Pearl");
												list2.options[3]=new Option("St. Jhon's","St. Jhon's");
											}
											else if (SelValue=='Northwest Territories')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Yellowknife","Yellowknife");
											}
											else if (SelValue=='Nova Scotia')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Halifax","Halifax");
												list2.options[2]=new Option("Sydney","Sydney");
												list2.options[3]=new Option("Dartmouth","Dartmouth");
											}
											else if (SelValue=='Nunavut')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Iqaluit","Iqaluit");
											}
											else if (SelValue=='Ontario')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Ottawa","Ottawa");
												list2.options[2]=new Option("Toronto","Toronto");
												list2.options[3]=new Option("Scarborough","Scarborough");
												list2.options[4]=new Option("Hamilton","Hamilton");
												list2.options[5]=new Option("Sarnia","Sarnia");
											}
											else if (SelValue=='Prince Edward Island')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Charlottetown","Charlottetown");
												list2.options[2]=new Option("Summerside","Summerside");
											}
											else if (SelValue=='Quebec')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Alma","Alma");
												list2.options[2]=new Option("Chambly","Chambly");
												list2.options[3]=new Option("Bedford","Bedford");
												list2.options[4]=new Option("Delson","Delson");
												list2.options[5]=new Option("Hudson","Hudson");
											}
											else if (SelValue=='Yukon')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Whitehorse","Whitehorse");
											}
											else if (SelValue=='Saskatchewan')
											{
												list2.options.length=0;
												list2.options[0]=new Option("Select City","");
												list2.options[1]=new Option("Estevan","Estevan");
												list2.options[2]=new Option("Melfort","Melfort");
												list2.options[3]=new Option("Regina","Regina");
												list2.options[4]=new Option("Saskatoon","Saskatoon");
												list2.options[5]=new Option("Yorkton","Yorkton");
											}
										}
							   </script>
							</div>
					<script>
						function duration(){
    						var value = document.getElementById("rentDuration").value;
   						//document.getElementsByClassName("inputBox").hide(); 
    						console.log(value);
    						if (value == "days")
							{
							console.log("here5");
        						document.getElementById("days").style.display = 'block';
        						document.getElementById("hours").style.display = 'none';
							}
    						else if (value == "hours")
							{console.log("here6");
        						document.getElementById("hours").style.display = 'block';
        						document.getElementById("days").style.display = 'none';}
    						}	
					</script>
					<label>Rent duration:</label>
					<select id="rentDuration" onclick="duration();">
					<option value="" selected="selected">Select your duration type</option>
					<option value="days">Days</option>
					<option value="hours">Hours</option>
					</select>

					<div id="days" class="inputBox">	
                            		<label>Start Date:</label>
                                    	<input type="date" id="start" name="trip-start" style="width:200px">
                                	<label>End Date: </label>
                                    	<input type="date" id="end" name="trip-end" style="width:200px">
                            		</div>
					<div id="hours" class="inputBox">
					<label>Start Time:</label>
					<input type="hours" id="start" name="trip-start" style="width:200px">
					<label>End Time:</label>
					<input type="hours" id="end" name="trip-end" style="width:200px">
					</div>

                            <button type="submit" value="Search" class = "btn" style="box-sizing:border-box; margin:30px;" formaction="login.html">Search</button>
                            </form>

                        </div>
                    </div>

                </div>
                 </div>

                          

        </div>
    </div>

</div>

{% endblock %}
